/* pages/search/search.wxss */
.container {
  width: 100vw;

  .type {
    display: flex;
    justify-content: space-between;
    padding: 20rpx 20rpx 10rpx 36rpx;
    font-size: 28rpx;
  }

  .buttonBtn {
    color: var(--Color-White);
    background-color: var(--Color-MainA);
  }

  // 去除按钮边框
  .buttonBtn::after {
    border: none;
  }
}
