/* pages/search/search.wxss */
.container {
  width: 100vw;

  .type {
    display: flex;
    justify-content: space-between;
    padding: 20rpx 20rpx 10rpx 30rpx;

    .van-radio-group {
      display: flex;
      justify-content: flex-end;
  
      .van-radio {
        margin-right: 20rpx;
      }
    }
  }
}
