/* pages/community/community.wxss */
.container {
  width: 100vw;

  .search {
    position: fixed;
    width: 100%;
  }

  .communityList {
    padding: 110rpx 30rpx 0;

    .communityItem {
      display: flex;
      padding: 20rpx;
      
      .image {
        width: 80rpx;
        height: 80rpx;
        border-radius: 50%;
      }
  
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20rpx;
  
        .city {
          color: var(--Color-FontA);
          font-size: 28rpx;
        }
      }
    }
  }
}
